@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply m-0 font-serif antialiased bg-transparent min-h-screen overflow-hidden;
    font-family: "Lilita One", "Noto", serif;
    font-weight: 400;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* For Webkit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    width: 10px; /* width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: transparent; /* no background */
}

::-webkit-scrollbar-thumb {
    background: blue; /* blue scrollbar */
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: darkblue; /* darker blue on hover */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: #56c0fb transparent; /* thumb color and no track background */
}

.font-noto {
    font-family: "Noto Sans Thai", sans-serif;
}

#root {
    @apply h-full;
}

.nui-wrapper {
    @apply h-screen flex justify-center items-center overflow-hidden;
    transform: scale(0.75);
    transform-origin: center;
}

.bg-header-mail-box {
    @apply bg-[url(/assets/header.png)] bg-no-repeat bg-contain w-full h-[66px] flex justify-center items-center;
}

.fade-enter {
    opacity: 0;
    transform: scale(0.9);
    transition: opacity 0.3s ease-in, transform 0.3s ease-in;
}

.fade-enter-active {
    opacity: 1;
    transform: scale(1);
}

.fade-exit {
    opacity: 1;
    transform: scale(1);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.fade-exit-active {
    opacity: 0;
    transform: scale(1.1);
    @apply overflow-hidden;
}

::-webkit-scrollbar-track {
    background-color: #101010;
}

::-webkit-scrollbar-thumb {
    background-color: #56c0fb;
}
