body {
  margin: 0;
  font-family: "Lilita One", serif;
  font-weight: 400;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background-image: url("https://img.goodfon.com/original/1920x1080/c/ba/gta-5-los-santos-rokstar-gorod.jpg");
  background-size: cover;
  background-position: center;

}

#root {
  height: 100%
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

